<!DOCTYPE html>
<html tang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content=
"width=device-width, initial-scale=1.0">
<title>URL convert mp3 download</title>
<link rel="stylesheet" href="{{url_for('static', 
filename='styles.css') }}">
</head>
<body><div class="container">
    <h1>URL to mp3 converter by SmokappStore</h1>
    <form action="/download"method="post">
        <label for="url">YouTube url:</label>
        <input type="text"id="url"required>
        <button type="submit">Convert</button>
    </form>
</div>
<script src="{{'static',
filename=j'js/scripts.js'}}">
</script>
</body>
